# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.cs]
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1001.severity = none
dotnet_diagnostic.SA1005.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1119.severity = none
dotnet_diagnostic.SA1129.severity = none
dotnet_diagnostic.SA1132.severity = none
dotnet_diagnostic.SA1137.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1004.severity = none
dotnet_diagnostic.SA1214.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1401.severity = none
dotnet_diagnostic.SA1407.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1515.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1519.severity = none
dotnet_diagnostic.SA1520.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1629.severity = none
dotnet_diagnostic.SA1642.severity = none


dotnet_diagnostic.SA1025.severity = error
dotnet_diagnostic.SA1027.severity = error
dotnet_diagnostic.SA1028.severity = error
dotnet_diagnostic.SA1124.severity = error
dotnet_diagnostic.SA1500.severity = error
dotnet_diagnostic.SA1504.severity = error
